<!DOCTYPE html>
<html lang="en">
<head> <!--Machine code needed for the page to run correctly-->
    <meta charset="UTF-8">
    <title>✨Shawn'sPortfolio</title>
    <!-- create a style link from folder styles style.css   -->
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body> <!--Human code where the code inside has a visual effect-->
<!--the class body is the main page wrapper-->
<div class="body">
    <div class="el header">NavBar</div>
    <div class="el content">Main page Body</div>
    <div class="el leftSideM">Left SideBar</div>
    <div class="el rightSideM">Right SideBar</div>
    <div class="el footer">page footer</div>
</div>
</body>
</html>